extends layout-navigator

block links
    link(rel="stylesheet", href="css/sidebar.css")
    link(rel="stylesheet", href="css/general.css")
    script(src="js/general.js")

block content
    .container-fluid
      .row
        nav.col-md-2.d-none.d-md-block.sidebar.bg-dark
          .sidebar-sticky
            ul.nav.flex-column
              li.nav-item
                a.nav-link.active.fa.fa-cny(href='#') &emsp;&nbsp;&nbsp;财务总览        
              li.nav-item
                a.nav-link.fa.fa-table(href='#') &emsp;仓库总览         
              li.nav-item
                a.nav-link.fa.fa-gears(href='#') &emsp;其它           
              li.nav-item
                a.nav-link.fa.fa-gears(href='#') &emsp;其它           
              li.nav-item
                a.nav-link.fa.fa-gears(href='#') &emsp;其它          
              li.nav-item
                a.nav-link.fa.fa-gears(href='#') &emsp;其它