extends layout

block links
    link(rel="stylesheet", href="css/index.css")
    script(src="js/index.js")

block body
    body
        #main-container
            .box#login-box
                .box-title 登陆
                #login-form
                    .form-line
                        .input-group
                            .input-group-prepend
                                span.input-group-text#icon-username.fa.fa-user
                            input.form-control#input-username(type='text',placeholder='请输入用户名',aria-describedby="icon-username")
                        .alert.alert-warning.none#alert-username
                    .form-line
                        .input-group
                            .input-group-prepend
                                span.input-group-text#icon-password.fa.fa-lock
                            input.form-control#input-password(type='password',placeholder='请输入密码',aria-describedby="icon-password")
                        .alert.alert-warning.none#alert-password
                    .form-line
                        button.btn.btn-block#button-login 登陆

