extends layout

block body
  body
    .navigator
      .navigator-item
        a(href="/repository")#a-repository 仓库明细
      .navigator-item
        a(href="#")#a-repository-in 入库明细
      .navigator-item
        a(href='#')#a-repository-out 出库明细
    block content