extends layout

block body
  body
    nav.navbar.navbar-expand.navbar-dark.bg-dark.sticky-top.flex-row  
      .navbar-nav-scroll
        ul.navbar-nav
          li.nav-item
            a.nav-link#a-general(href="/general") 首页
          li.nav-item
            a.nav-link#a-repository(href="/repository") 仓库管理
          li.nav-item
            a.nav-link#a-repository-in(href="/repository-in") 入库明细
          li.nav-item
            a.nav-link#a-repository-out(href="/repository-out") 出库明细
    block navigator-secondary
    block content