extends layout

block body
  body
    .navigator
      .navigator-item
        a(href="/repository") 仓储管理
        .navigator-item-items
          .navigator-item-item.first-item
            a(href="#") 仓库明细
          .navigator-item-item.seconed-item
            a(href="#") 出库列表
          .navigator-item-item.third-item
            a(href="#") 入库列表   
    block content