extends layout-navigator

block links
    link(rel="stylesheet", href="css/tables.css")
    link(rel="stylesheet", href="css/repository.css")
    script(src="js/repository.js")

block navigator-secondary
    nav.navbar.navbar-expand-sm.navbar-dark.bg-dark.navigator-secondary.flex-row  
        .btn-group
            button.btn.btn-primary.btn-sm#btn-in(data-toggle='modal',data-target='#modal-repository-in',data-backdrop='static') 入库
            button.btn.btn-primary.btn-sm#btn-out(data-toggle='modal',data-target='#modal-repository-out',data-backdrop='static') 出库
        .btn-group#btn-group-secondary
            button.btn.btn-primary.btn-sm#btn-commodity-add(data-toggle='modal',data-target='#modal-commodity-add',data-backdrop='static') 添加商品
            button.btn.btn-primary.btn-sm#btn-brand-add(data-toggle='modal',data-target='#modal-brand-add',data-backdrop='static') 添加品牌

block content
    #main-container
        .alert.alert-success.invisible#alert-main
        .table-container
            table.table.table-striped
                thead
                    tr
                        th 商品编号
                        th 品牌名称
                        th 商品全名
                        th 型号
                        th 等级
                        th 规格
                        th 数量
                        th 成本均价
                        th 成本金额
                        th 最后变更时间
                        th 备注
                tbody#table-body
    

    //- 入库单modal
    .modal#modal-repository-in(tabindex='-1')
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title 入库单
                    button.close.close-in(type='button',data-dismiss='modal',aria-label='Close')
                        span &times
                .modal-body
                    .alert.alert-warning.none#alert-in
                    .input-group
                        .input-group-prepend
                            .input-group-text.fa.fa-gears
                        input.form-control#input-id(type='text',placeholder='商品编号')
                    .input-group
                        .input-group-prepend
                            .input-group-text.fa.fa-sort-numeric-asc
                        input.form-control#input-num(type='text',placeholder='数量(片)')
                        .input-group-append
                            .input-group-text.fa.fa-shopping-basket
                        input.form-control#input-costsum(type='text',placeholder='成本价(元)')
                    .input-group
                        .input-group-prepend
                            .input-group-text.fa.fa-reorder
                        input.form-control#input-remark(type='text',placeholder='备注')
                    button.btn.btn-primary(type='button')#btn-in-add 添加入库项
                    button.btn.btn-secondary(type='button')#btn-in-clear 清空
                    table.table
                        thead
                            tr
                                th 商品编号
                                th 数量(片)
                                th 成本金额(元)
                                th 操作
                        tbody#table-in-body
                .modal-footer
                    button.btn.btn-danger#btn-in-realclear(type='button') 清空入库单
                    button.btn.btn-secondary.close-in(type='button',data-dismiss='modal') 取消
                    button.btn.btn-primary#btn-in-confirm(type='button') 提交
    //- 出库单modal
    .modal#modal-repository-out(tabindex='-1')
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title 出库单
                    button.close.close-out(type='button',data-dismiss='modal',aria-label='Close')
                        span &times
                .modal-body
                    .alert.alert-warning.none#alert-out
                    .input-group
                        .input-group-prepend
                            .input-group-text.fa.fa-gears
                        input.form-control#input-out-id(type='text',placeholder='商品编号')
                        .input-group-append
                            .input-group-text.fa.fa-sort-numeric-asc
                        input.form-control#input-out-num(type='text',placeholder='数量(片)')
                    .input-group
                        .input-group-prepend
                            .input-group-text.fa.fa-reorder
                        input.form-control#input-out-remark(type='text',placeholder='备注')
                    button.btn.btn-primary(type='button')#btn-out-add 添加出库项
                    button.btn.btn-secondary(type='button')#btn-out-clear 清空
                    table.table
                        thead
                            tr
                                th 商品编号
                                th 数量(片)
                                th 操作
                        tbody#table-out-body
                .modal-footer
                    button.btn.btn-danger#btn-out-realclear(type='button') 清空出库单
                    button.btn.btn-secondary.close-out(type='button',data-dismiss='modal') 取消
                    button.btn.btn-primary#btn-out-confirm(type='button') 提交
    //- 添加商品modal
    .modal#modal-commodity-add(tabindex='-1')
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title 新增商品
                    button.close.close-commodity-add(type='button',data-dismiss='modal',aria-label='Close')
                        span &times
                .modal-body
                    .alert.alert-warning.none#alert-commodity-add
                    .input-group
                        .input-group-prepend
                            .input-group-text.fa.fa-tags
                        select.custom-select#select-commodity-brand
                            option(selected) 选择品牌
                        select.cutom-select#select-commodity-level
                            option(selected) 选择等级
                            option(value='0') 优
                            option(value='1') 良
                    .input-group
                        .input-group-prepend
                            .input-group-text.fa.fa-gears
                        input.form-control#input-commodity-id(type='text',placeholder='商品编号')
                        input.form-control#input-commodity-fullname(type='text',placeholder='商品全名')
                        input.form-control#input-commodity-type(type='text',placeholder='型号')
                    .input-group
                        .input-group-prepend
                            .input-group-text 规格
                        input.form-control#input-commodity-width(type='text',placeholder='宽度')
                        .input-group-append
                            .input-group-text *
                        input.form-control#input-commodity-height(type='text',placeholder='高度')
                    .input-group
                        .input-group-prepend
                            .input-group-text.fa.fa-reorder
                        input.form-control#input-commodity-remark(type='text',placeholder='备注')
                .modal-footer         
                    button.btn.btn-secondary.close-commodity-add(type='button',data-dismiss='modal') 取消
                    button.btn.btn-secondary(type='button')#btn-commodity-clear 清空
                    button.btn.btn-primary(type='button')#btn-commodity-confirm 确认
    //- 添加品牌modal
    .modal#modal-brand-add(tabindex='-1')
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title 添加品牌
                    button.close.close-brand-add(type='button',data-dismiss='modal',aria-label='Close')
                        span &times
                .modal-body
                    .alert.alert-warning.none#alert-brand-add
                    .input-group
                        .input-group-prepend
                            .input-group-text.fa.fa-gears
                        input.form-control#input-brand(type='text',placeholder='品牌名称')
                .modal-footer
                    button.btn.btn-secondary.close-brand-add(type='button',data-dismiss='modal') 取消
                    button.btn.btn-primary#btn-brand-confirm(type='button') 确认