html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(228, 231, 234);
    margin: 0px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: none;
    color: #ffffff;
}

.invisible {
    visibility: hidden;
}

.none {
    display: none;
}

.box {
    background: #fff;
    border-radius: 3px;
    box-shadow: #ccc 2px 0 0 0;
}

.box-title {
    width: max-content;
    font-size: 22px;
    font-weight: 700;
    border-bottom: 2px solid rgb(57, 134, 172);
}

.a-current {
    border-bottom: 2px solid #fdfdfd;
    font-weight: bolder;
}

.navigator-secondary {
    position: sticky;
    top: 0;
    z-index: 1020;
    justify-content: start;
}

.btn-tools {
    color: #fff;
    background-color: #4798b3;
    padding: 0.075rem 0.5rem;
}

.btn-tools:hover {
    color: #fff;
    background-color: #57a2c7;
}

@media screen and (max-device-width: 576px) {
    html {
        width: min-content;
    }
}