#main-container {
    background: url('/images/bg-regist.png') top center no-repeat;
    background-color: rgb(57, 134, 172);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-box {
    padding: 1.5rem;
    width: 24rem;
}

.form-line {
    margin: 2rem 0;
}

.alert {
    padding: 0.25rem 1.25rem;
}

#button-login {
    color: #ffffff;
    background-color: rgb(57, 134, 172);
}