#main-container {
    margin: 6.4rem 0rem;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#table-container {
    width: 80%;
}

.modal {
    top: 25%;
}


/* 屏幕宽度小于400px的适配样式 */

@media screen and (max-device-width: 576px) {
    #main-container {
        width: max-content;
    }
    #table-container {
        width: 100%;
    }
    .modal {
        top: 0;
        left: 10%;
    }
    .modal-content {
        width: 25rem;
    }
    .modal-backdrop {
        background-color: rgba(0, 0, 0, 0);
    }
}