#main-container {
    margin: 6.4rem 0rem;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#table-container {
    width: 90%;
}

#btn-group-secondary {
    margin-left: 1.2rem;
}

.modal {
    top: 5%;
}

.modal .input-group {
    margin-top: 0.75rem;
}

#btn-in-add,
#btn-out-add {
    margin: 0.7rem auto 0.7rem auto;
}

#btn-in-clear,
#btn-out-clear {
    margin-left: 1.2rem;
}

#alert-main {
    position: fixed;
    top: 0.5rem;
    z-index: 1001;
}


/* 屏幕宽度小于400px的适配样式 */

@media screen and (max-device-width: 576px) {
    #main-container {
        width: max-content;
    }
    #table-container {
        width: 100%;
    }
    .modal {
        top: 0;
        left: 3.8%;
    }
    .modal-content {
        width: 35rem;
    }
    .modal-backdrop {
        background-color: rgba(0, 0, 0, 0);
    }
}